* {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color2);
    background-color: var(--color8);
}

nav {
    width: 100%;
    background-color: var(--color4);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav ul, 
.right-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.left-nav img {
    width: 50px;
    margin-right: 10px;
}

.left-nav h2{
    color: var(--color2);
}
.left-nav h3 {
    margin: 0;
    color: var(--color1);
}

.right-nav .search-bar {
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--color2);
    margin-right: 20px;
}

.cart {
    position: relative;
}

.cart img {
    width: 30px;
}

.cart-count {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 50%;
}

main {
    margin-top: 10px;
    width: 100%;
    max-width: 1440px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color7);
    color: var(--color2);
  }

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: var(--color7); 
    padding: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

footer p {
    margin: 0; 
}

:root {
    --color1: #fac883;
    --color2: #d9912b;
    --color3: #966115;
    --color4: #5b3701;
    --color5: #573501;
    --color6: #3d2501;
    --color7: #492c00;
    --color8: #231200;
  }
  